:root {
  --white: #FBFFF1;
  --black: #141414;
  --grey: #8C8C8C;
  --blue-1: #2B6ABC;
  --blue-2: #0C53A6;
  --blue-3: #003D82;
  --blue-4: #002F63;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
